<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!--extension
         point="org.eclipse.ui.editors">
      <editor
            class="jsdai.express_g.editors.SdaiEditor"
            icon="icons/exd_sdai_file.gif"
            default="true"
            contributorClass="jsdai.express_g.editors.SdaiEditorContributor"
            name="Express-G Editor"
            id="net.jsdai.express_g.editors.SdaiEditor"
            extensions="sdai,exd">
      </editor>
   </extension-->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="jsdai.express_g.editors.SdaiEditor"
            icon="icons/exg_file.gif"
            default="true"
            contributorClass="jsdai.express_g.editors.SdaiEditorContributor"
            name="Express-G Editor"
            id="net.jsdai.express_g.editors.ExgEditor"
            extensions="exg">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="jsdai.express_g.editors.SdaiEditor"
            icon="icons/exd_sdai_file.gif"
            default="true"
            contributorClass="jsdai.express_g.editors.SdaiEditorContributor"
            name="Express-G Editor"
            id="net.jsdai.express_g.editors.SdaiEditor"
            extensions="sdai,exd">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Express-G Outline"
            icon="icons/express_g_outline.gif"
            category="net.jsdai.express.view"
            class="jsdai.express_g.editors.outline.InternalContentOutline"
            id="net.jsdai.express_g.editors.outline.InternalContentOutline">
      </view>
      <category
            name="JSDAI"
            id="net.jsdai.express.view"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="jsdai.express_g.perspectives.PerspectiveFactory"
            icon="icons/express_g_perspective.gif"
            name="Express-G"
            id="net.jsdai.express_g.perspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="net.jsdai.express_g.perspective"/>
         <viewShortcut id="net.jsdai.express_g.editors.outline.InternalContentOutline"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut id="net.jsdai.express_g.perspective"/>
         <viewShortcut id="net.jsdai.express_g.editors.outline.InternalContentOutline"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="net.jsdai.express_compiler.ExpressPerspective">
         <perspectiveShortcut id="net.jsdai.express_g.perspective"/>
         <newWizardShortcut id="net.jsdai.express_g.wizards"/>
         <viewShortcut id="org.eclipse.ui.views.ContentOutline"/>
         <viewShortcut id="net.jsdai.express_g.editors.outline.InternalContentOutline"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="net.jsdai.express_g.perspective">
         <newWizardShortcut id="net.jsdai.express_compiler.wizards.NewExpressProjectWizard"/>
         <newWizardShortcut id="net.jsdai.express_compiler.wizards.NewExpressFileWizard"/>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.folder"/>
         <newWizardShortcut id="net.jsdai.express_g.wizards"/>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.file"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.jsdai.express.new"
            name="JSDAI"/>
      <wizard
            category="net.jsdai.express.new"
            class="jsdai.express_g.wizards.NewEXGFile"
            icon="icons/exg_file_new.gif"
            id="net.jsdai.express_g.wizards"
            name="Express-G file (*.exg)"
            preferredPerspectives="net.jsdai.express_g.perspective"/>
      <primaryWizard id="net.jsdai.express_g.wizards"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="net.jsdai.wizard.category"
            class="jsdai.express_g.wizards.ExportStepmod"
            icon="icons/export_to_stepmod.gif"
            id="net.jsdai.express_g.wizards.ExportStepmod"
            name="E-G diagrams and stepmod XML">
      </wizard>
      <wizard
            category="net.jsdai.wizard.category"
            class="jsdai.express_g.wizards.ExportConformanceTables"
            icon="icons/export_corformance_tables.gif"
            id="net.jsdai.express_g.wizards.ExportConformanceTables"
            name="Conformance tables for modular APs">
      </wizard>
      <wizard
            category="net.jsdai.wizard.category"
            class="jsdai.express_g.wizards.ExportSTEP"
            icon="icons/export_to_p21.gif"
            id="net.jsdai.express_g.wizards.ExportStep"
            name="Dictionary data in p21 format"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <!--wizard
            category="net.jsdai.express.import"
            class="jsdai.express_g.wizards.ImportSTEP"
            icon="icons/jsdai_icon_16.png"
            id="net.jsdai.express_g.wizards.ImportStep"
            name="step (p21) file"/-->
      <wizard
            category="net.jsdai.wizard.category"
            class="jsdai.express_g.wizards.ImportRepository"
            icon="icons/import_from_exd.gif"
            id="net.jsdai.express_g.wizards.ImportRepository"
            name="JSDAI Express dictionary data (*.exd)"/>
      <wizard
            category="net.jsdai.wizard.category"
            class="jsdai.express_g.wizards.ImportDiagram"
            icon="icons/import_from_exg.gif"
            id="net.jsdai.express_g.wizards.ImportDiagram"
            name="JSDAI Express-G diagram (*.exg)"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.jsdai.common.preferences.editors"
            class="jsdai.express_g.preferences.EGEAppearance"
            id="net.jsdai.express_g.preferences.EGEPreferences"
            name="Express-G"/>
      <page
            class="jsdai.express_g.preferences.EGEPageFrame"
            category="net.jsdai.express_g.preferences.EGESchemaDefault"
            name="Current Page frame"
            id="net.jsdai.express_g.preferences.EGEAppearance"/>
      <page
            name="Current diagram"
            class="jsdai.express_g.preferences.EGESchema"
            id="net.jsdai.express_g.preferences.EGESchema"
            category="net.jsdai.express_g.preferences.EGESchemaDefault">
      </page>
      <page
            name="Diagram"
            class="jsdai.express_g.preferences.EGESchemaDefault"
            id="net.jsdai.express_g.preferences.EGESchemaDefault"
            category="net.jsdai.express_g.preferences.EGEPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            primary="false"
            file="help/toc.xml"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contexts.xml"
            plugin="net.jsdai.express_g"/>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="jsdai.express_g.editors.SdaiEditorFactory"
            id="net.jsdai.express_g.editors.SdaiEditorFactory"/>
   </extension>

</plugin>
