<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body text="#000000" bgcolor="#FFFFFF">
<p>Hello,<br>
    <br>
    There is a new release of JSDAI-DB v${jsdai.release.version} available on the Redmine. <br>
</p>
<p>
    The release can be downloaded from:<br>
    <a class="moz-txt-link-freetext" href="${release.site.url}">${release.site.url}</a><br>
</p>
<br>
--
<pre class="moz-signature" cols="72">Sincerely yours,
JSDAI Developement Team</pre>
</body>
</html>
