<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="net.jsdai.wizard.category"
            name="JSDAI"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="net.jsdai.wizard.category"
            name="JSDAI"/>
   </extension>

</plugin>
