BODY, P, A, UL, LI, LABEL, FILE, FIELDSET, LEGEND, OBJECT, TABLE, TD, FORM, INPUT, TEXTAREA, SELECT {
	color: #000;
	font-family: 'Segoe UI', 'Tahoma', 'Arial', sans-serif;
    font-size: 9pt;
	background-color: #fff;
}

BODY {
	margin: 10;
	padding: 0;
	width: 100%;
}

A {
	color: #000;
}

A:hover {
	text-decoration: none;
}