<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="net.jsdai.wizard.category"
            class="jsdai.express_doc.wizards.ExportDocumentation"
            icon="icons/export_to_html.gif"
            id="net.jsdai.express_doc.wizard"
            name="Express HTML documentation">
      </wizard>
      <wizard
            category="net.jsdai.wizard.category"
            class="jsdai.express_doc.wizards.ExportXmlIndex"
            icon="icons/export_to_xml.gif"
            id="net.jsdai.express_doc.wizard.xml"
            name="Express XML index for ISO 10303-1000">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="false"/>
   </extension> 

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.exd"
            id="net.jsdai.express_doc.popups">
         <action
               label="Search for cycles and redundancies"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.express_doc.run_cycliccheck_action_context"
               class="jsdai.express_doc.tools.SearchForCyclicDependenciesAction"
               enablesFor="1"
                id="net.jsdai.express_doc.tools.SearchForCyclicDependenciesAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
