<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="jsdai.step_editor.editor.P21Editor"
            icon="icons/p21_step_file.gif"
            contributorClass="jsdai.step_editor.editor.P21ActionContributor"
            name="P21 Editor"
            id="net.jsdai.step_editor.editor.P21Editor"
            extensions="stp,p21,pf"/>
   </extension>


    <extension point="org.eclipse.core.filebuffers.documentSetup" 
        id="net.jsdai.step_editor.editor.P21DocumentSetupParticipant" 
        name="P21 Document Setup Participant" >
        <participant
            class="jsdai.step_editor.editor.P21DocumentSetupParticipant"
            contentTypeId="org.eclipse.core.runtime.text"
            extensions="stp,p21,pf"/>
    </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Part 21"
            class="jsdai.step_editor.preferences.P21EditorPreferences"
            id="net.jsdai.step_editor.preferences.P21EditorPreferences"
            category="net.jsdai.common.preferences.editors">
      </page>
   </extension>


<!-- =================================================================================== -->
<!-- Extension: JSDAI P21 Problem                                                    -->
<!-- =================================================================================== -->
<extension id="p21problem" point="org.eclipse.core.resources.markers" name="JSDAI P21 Problem">
  <super type="org.eclipse.core.resources.problemmarker"/>
  <super type="org.eclipse.core.resources.textmarker"/>
   <persistent value="true"/>
   <attribute name="project"/>
</extension>





</plugin>
