<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="jsdai.validation.perspectives.PerspectiveFactory"
            icon="icons/validation_perspective.gif"
            name="JSDAI Validation"
            id="net.jsdai.xim.validation.perspective"/>
   </extension>


   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.p21"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.xim.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateBgAction"
               enablesFor="1"
                id="net.jsdai.xim.validation.actions.ValidateBgAction.p21">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.stp"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.xim.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateBgAction"
               enablesFor="1"
                id="net.jsdai.xim.validation.actions.ValidateBgAction.stp">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.step"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.xim.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateBgAction"
               enablesFor="1"
                id="net.jsdai.xim.validation.actions.ValidateBgAction.step">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.210"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.xim.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateBgAction"
               enablesFor="1"
                id="net.jsdai.xim.validation.actions.ValidateBgAction.210">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.pf"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs"
               icon="icons/validate_p21.gif"
               helpContextId="net.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateBgAction"
               enablesFor = "1"
                id="net.jsdai.xim.validation.actions.ValidateBgAction.pf">
         </action>
      </objectContribution>


      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.p21"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs (foreground)"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.xim.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateAllAction"
               enablesFor="1"
                id="net.jsdai.xim.validation.actions.ValidateAllAction.p21">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.stp"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs (foreground)"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.xim.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateAllAction"
               enablesFor="1"
                id="net.jsdai.xim.validation.actions.ValidateAllAction.stp">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.step"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs (foreground)"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.xim.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateAllAction"
               enablesFor="1"
                id="net.jsdai.xim.validation.actions.ValidateAllAction.step">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.210"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs (foreground)"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.xim.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateAllAction"
               enablesFor="1"
                id="net.jsdai.xim.validation.actions.ValidateAllAction.210">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.pf"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs (foreground)"
               icon="icons/validate_p21.gif"
               helpContextId="net.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateAllAction"
               enablesFor = "1"
                id="net.jsdai.xim.validation.actions.ValidateAllAction.pf">
         </action>
      </objectContribution>

   </extension>


</plugin>

