<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="jsdai.validation.perspectives.PerspectiveFactory"
            icon="icons/validation_perspective.gif"
            name="JSDAI Validation"
            id="net.jsdai.xim.validation.perspective"/>
   </extension>

<!-- Menu                                                                 -->
   <extension
         name="Express Menu"
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Express Actions"
            description="Action set containing EXPRESS related actions"
            id="net.jsdai.express_compiler.actionSet">
         <menu
               label="E&amp;xpress"
               id="net.jsdai.express_compiler.ExpressMenu">
            <separator
                  name="first_separator">
            </separator>
            <separator
                  name="second_separator">
            </separator>
         </menu>

         <action
               label="Validate against STEP-APs"
               icon="icons/validate_p21.gif"
               tooltip="Validate instances in a step file"
               class="jsdai.xim.validation.actions.ValidateBgAction"
               menubarPath="net.jsdai.express_compiler.ExpressMenu/first_separator"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/express"
               id="net.jsdai.xim.validation.actions.ValidateBgAction">
         </action>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.p21"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.xim.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateBgAction"
               enablesFor="1"
                id="net.jsdai.xim.validation.actions.ValidateBgAction.p21">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.stp"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.xim.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateBgAction"
               enablesFor="1"
                id="net.jsdai.xim.validation.actions.ValidateBgAction.stp">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.step"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.xim.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateBgAction"
               enablesFor="1"
                id="net.jsdai.xim.validation.actions.ValidateBgAction.step">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.210"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs"
               icon="icons/validate_p21.gif"
               helpContextId="net.jsdai.xim.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateBgAction"
               enablesFor="1"
                id="net.jsdai.xim.validation.actions.ValidateBgAction.210">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.pf"
            id="net.jsdai.xim.validation.popups">
         <action
               label="Validate against STEP-APs"
               icon="icons/validate_p21.gif"
               helpContextId="net.validation.run_validation_action_context"
               class="jsdai.xim.validation.actions.ValidateBgAction"
               enablesFor = "1"
                id="net.jsdai.xim.validation.actions.ValidateBgAction.pf">
         </action>
      </objectContribution>



   </extension>


</plugin>

