<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="net.jsdai.express.new"
            class="jsdai.common.wizards.JSDAIJavaProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/jsdai_java_project_new.gif"
            id="net.jsdai.common.JSDAIJava"
            name="JSDAI Java Project"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective,net.jsdai.express_compiler.ExpressPerspective"
            project="true"/>
      <primaryWizard id="net.jsdai.common.JSDAIJava"/>
      <category
            id="net.jsdai.express.new"
            name="JSDAI"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jsdai.common.preferences.JSDAIroot"
            id="net.jsdai.common.preferences.page"
            name="JSDAI"/>
      <page
            category="net.jsdai.common.preferences.page"
            class="jsdai.common.preferences.JSDAIeditors"
            id="net.jsdai.common.preferences.editors"
            name="Editors"/>
   </extension>
   <extension
         id="JSDAIProjectNature"
         name="JSDAI Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="jsdai.common.natures.JSDAIProjectNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/jsdai_java_project.gif"
            id="net.jsdai.common.JSDAIProjectNatureImage"
            natureId="net.jsdai.common.JSDAIProjectNature"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="net.jsdai.common.popup.project"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature"/>
         <action
               class="jsdai.common.actions.ToggleJsdaiAction"
               enablesFor="1"
               id="net.jsdai.common.action.togleJavaJSDAI"
               label="Toggle Java/JSDAI project"/>
      </objectContribution>
   </extension>

</plugin>
